.container1 {
 background-color: #f00;
 height: 100px;
}
.header {
  background-color: #013ADF;
}
.container2 {
 background-color: #F5A9A9;
}

.main {
  background-color: #04B45F;
  height: 350px;
}

.main-left {
  margin-top: 2%;
  background-color: #64FE2E;
  height: 150px;
}

.main-rigth {
  margin-top: 2%;
  background-color: #9F81F7;
  height: 250px;
}
.welcom {
  background-color: #61380B;
  height: 80px;
}

.main2 {
  background-color: #B40404;
  height: 300px;
}
.imagen1 {
  margin-top: 2%;
  background-color: #01DFD7;
  height: 250px;
}
.imagen2 {
  margin-top: 2%;
  background-color: #DA81F5;
  height: 250px;
}
.imagen3 {
  margin-top: 2%;
  background-color: #4000FF;
  height: 250px;
}

.main3 {
  background-color: #424242;
  height: 300px;
}
.im1 {
  margin-top: 2%;
  background-color: #610B38;
  height: 250px;
}
.im2 {
  margin-top: 2%;
  background-color: #210B61;
  height: 250px;
}
.im3 {
  margin-top: 2%;
  background-color: #5E610B;
  height: 250px;
}
.im4 {
  margin-top: 2%;
  background-color:#8A2908;
  height: 250px;
}

.footer{
  background-color:#848484;
  height: 100px;
}
